{extend name='layouts/index' /}
{block name='title'}首页{/block}
{block name='content'}
		<!-- desktop bar -->
		<section class="desktop-bar">
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
					 <h3>FAQ</h3>
					</div>
					<div class="col-sm-8">
						<ol class="breadcrumb hidden-xs pull-right">
							<li><a href="#">Home</a></li>
							<li class="active"><a href="#">FAQ</a></li>
						</ol>
					</div>
				</div>
			</div>
		</section>
		
		<!-- FAQ -->
		<section>
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<h2 class="t-color-6">Frequently Asked Questions</h2>
						<div class="heading-border b-color-6"></div>
						
						<div class="panel-group ques-ask" id="accordion" role="tablist" aria-multiselectable="true">
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="headingOne">
									<h4 class="panel-title">
										<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-1" aria-expanded="true" aria-controls="collapse-1">Sed ullum altera facilisis id, utroque vivendum reprehendunt vis ut. Eum ex purto modus voluptua, sit graece integre no</a>
									</h4>
								</div>
								<div id="collapse-1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
									<div class="panel-body">
										<p>Lorem Ipsum adalah contoh reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica.</p>
										<p>Lorem ipsum dolor sit amet, eu sea magna erant efficiendi. Laoreet accumsan ex has, sea dico praesent ei. Eu nonumy scripta ceteros vim, usu dolore nullam an. In suas debet mollis pri, falli graecis periculis an eam.

Eu eum meliore consequat disputando. Vis vidisse integre percipitur an. Ad pri debet putent habemus. Facete accusam eam te, cum no enim graeco. Ex blandit atomorum disputationi his, alienum scriptorem vis ad. Ad cum perfecto sententiae, an autem euismod civibus pro, delicata partiendo ad duo.

Legimus noluisse mediocritatem usu ad, mazim quaeque eos id, quot novum in cum. Quo id quod laoreet scribentur, ei sit modus soleat adolescens. Cu vix nonumy constituam. Eu movet quodsi ocurreret vim.

Sed ullum altera facilisis id, utroque vivendum reprehendunt vis ut. Eum ex purto modus voluptua, sit graece integre no. No tritani reprehendunt mei. Vim cu prima consequuntur. In eleifend ocurreret has, in nam wisi mollis facilis.

Facilisi indoctum an vel, tollit eirmod pro ut, stet possim sit eu. Pro cibo vocibus ei. Pri diceret indoctum eloquentiam ut, nam ex expetenda reprimique. Luptatum patrioque has id. No est soluta persequeris, delenit gubergren id vis, his iusto oporteat at.</p>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="headingTow">
									<h4 class="panel-title">
										<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-2" aria-expanded="true" aria-controls="collapse-2">Fllum altera facilisis id, utroque vivendum reprehendunt vis ut. Eum ex purto modus voluptua, sit graece integre</a>
									</h4>
								</div>
								<div id="collapse-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTow">
									<div class="panel-body">
										<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="headingThree">
									<h4 class="panel-title">
										<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-3" aria-expanded="true" aria-controls="collapse-3">Altera facilisis id, utroque vivendum reprehendunt vis ut. Eum ex purto modus voluptua, sit graece integre no</a>
									</h4>
								</div>
								<div id="collapse-3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
									<div class="panel-body">
										<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
									</div>
								</div>
							</div>	
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="headingFour">
									<h4 class="panel-title">
										<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-4" aria-expanded="true" aria-controls="collapse-4">Facilisi indoctum an vel, tollit eirmod pro ut, stet possim sit eu. Pro cibo vocibus ei. Pri diceret indoctum eloquentiam expetenda reprimique</a>
									</h4>
								</div>
								<div id="collapse-4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
									<div class="panel-body">
										<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid moon offic cupidatat skateboard dolor brunch.</p>
									</div>
								</div>
							</div>	
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- sponsor -->
		<section class="sponsor">
			<div class="container">			
				<div id="sponsor" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner" role="listbox">
						<div class="item active">
							<div class="row">	
								<div class="col-sm-12">
									<ul class="list-inline text-center">
										<li><img class="" src="/static/index/images/1.gif" /></li>
										<li><img class="" src="/static/index/images/2.png" /></li>
										<li><img class="" src="/static/index/images/3.png" /></li>
										<li><img class="" src="/static/index/images/4.png" /></li>
										<li><img class="" src="/static/index/images/5.png" /></li>
										<li><img class="" src="/static/index/images/6.png" /></li>
										<li><img class="" src="/static/index/images/7.png" /></li>
										<li><img class="" src="/static/index/images/8.png" /></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="row">	
								<div class="col-sm-12">
									<ul class="list-inline text-center">
										<li><img class="" src="/static/index/images/1.gif" /></li>
										<li><img class="" src="/static/index/images/2.png" /></li>
										<li><img class="" src="/static/index/images/3.png" /></li>
										<li><img class="" src="/static/index/images/4.png" /></li>
										<li><img class="" src="/static/index/images/5.png" /></li>
										<li><img class="" src="/static/index/images/6.png" /></li>
										<li><img class="" src="/static/index/images/7.png" /></li>
										<li><img class="" src="/static/index/images/8.png" /></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<!-- Controls -->
				<a class="control-left" href="#sponsor" role="button" data-slide="prev"><i class="fa fa-angle-left"></i></a>
				<a class="control-right" href="#sponsor" role="button" data-slide="next"><i class="fa fa-angle-right"></i></a>
				</div>			
			</div>
		</section>	
{/block}
