{extend name='layouts/index' /}
{block name='title'}首页{/block}
{block name='content'}
		<!-- desktop bar -->
		<section class="desktop-bar">
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
					 <h3>Contact Us</h3>
					</div>
					<div class="col-sm-8">
						<ol class="breadcrumb hidden-xs pull-right">
							<li><a href="#">Home</a></li>
							<li class="active"><a href="#">Contact Us</a></li>
						</ol>
					</div>
				</div>
			</div>
		</section>
		
		<!-- contact us -->
		<section>
			<div class="container">
				<div class="row pice-map">
					<div class="col-sm-3">
						<div class="thumbnail">
							<img src="/static/index/images/dhaka-2.jpg" alt="">
							<div class="caption text-center">
								<h4>Meldonya</h4>
								<strong>Pakistan</strong>
								<p>Nam apeirian assentior utquo eros posse verterem. Cum error congue saperet wisi mollis facilis.</p>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="thumbnail">
							<img src="/static/index/images/dhaka-2.jpg" alt="">
							<div class="caption text-center">
								<h4>Meldonya</h4>
								<strong>Pakistan</strong>
								<p>Nam apeirian assentior utquo eros posse verterem. Cum error congue saperet wisi mollis facilis.</p>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="thumbnail">
							<img src="/static/index/images/dhaka-2.jpg" alt="">
							<div class="caption text-center">
								<h4>Meldonya</h4>
								<strong>Pakistan</strong>
								<p>Nam apeirian assentior utquo eros posse verterem. Cum error congue saperet wisi mollis facilis.</p>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="thumbnail">
							<img src="/static/index/images/dhaka-2.jpg" alt="">
							<div class="caption text-center">
								<h4>Meldonya</h4>
								<strong>Pakistan</strong>
								<p>Nam apeirian assentior utquo eros posse verterem. Cum error congue saperet wisi mollis facilis.</p>
							</div>
						</div>
					</div>
				</div>	
				<div class="row big-map">
					<div class="col-sm-12">
					</div>
				</div>	
				<div class="row">
					<div class="col-sm-6">
						<h2 class="t-color-6">Get In Touch</h2>
						<div class="heading-border b-color-6"></div>
						<p>Lorem ipsum dolor sit amet, no mea aeterno indoctum percipitur. Homero quaerendum ius ei. In pro decore tamquam 									appetere, ea mentitum mediocrem efficiantur quo. Quo no assentior conclusionemque ceteros accusata.</p>
						<ul class="media-list other-address">
							<li class="media">
								<div class="media-left">
									<i class="fa fa-map"></i>
								</div>
								<div class="media-body">
									<p>Lebel 2, 13 Elezabe, +8492575, USA</p>
									<p> Melbounire, Victoria 3000, +8492575, USA</p>
								</div>
							</li>
							<li class="media">
								<div class="media-left">
									<i class="fa fa-envelope-o"></i>
								</div>
								<div class="media-body">
									<p>support@gmail.com</p>
									<p>example@gmail.com</p>
								</div>
							</li>
							<li class="media">
								<div class="media-left">
									<i class="fa fa-mobile"></i>
								</div>
								<div class="media-body">
									<p>+880183947930</p>
									<p>+(980)1839479</p>
								</div>
							</li>
							<li class="media">
								<div class="media-left">
									<i class="fa fa-clock-o"></i>
								</div>
								<div class="media-body">
									<p>From Monday to Friday</p>
									<p>9.00 AM to 5.00 PM</p>
								</div>
							</li>
						</ul>
					</div>
					<div class="col-sm-6">
						<h2 class="t-color-6">FeedBack</h2>
						<div class="heading-border b-color-6"></div>
						<div class="row form">
							<div class="col-sm-6">
								<div class="form-group">
									<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Name">
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
								</div>
							</div>
							<div class="col-sm-12">
								<div class="form-group">
									<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Subject">
								</div>
							</div>
							<div class="col-sm-12">
								<div class="form-group">
									<textarea class="form-control" rows="8" placeholder="Message"></textarea>
								</div>
								<button class="btn btn-Primary btn-lg" type="submit">Send Message</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- sponsor -->
		<section class="sponsor">
			<div class="container">			
				<div id="sponsor" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner" role="listbox">
						<div class="item active">
							<div class="row">	
								<div class="col-sm-12">
									<ul class="list-inline text-center">
										<li><img class="" src="/static/index/images/1.gif" /></li>
										<li><img class="" src="/static/index/images/2.png" /></li>
										<li><img class="" src="/static/index/images/3.png" /></li>
										<li><img class="" src="/static/index/images/4.png" /></li>
										<li><img class="" src="/static/index/images/5.png" /></li>
										<li><img class="" src="/static/index/images/6.png" /></li>
										<li><img class="" src="/static/index/images/7.png" /></li>
										<li><img class="" src="/static/index/images/8.png" /></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="row">	
								<div class="col-sm-12">
									<ul class="list-inline text-center">
										<li><img class="" src="/static/index/images/1.gif" /></li>
										<li><img class="" src="/static/index/images/2.png" /></li>
										<li><img class="" src="/static/index/images/3.png" /></li>
										<li><img class="" src="/static/index/images/4.png" /></li>
										<li><img class="" src="/static/index/images/5.png" /></li>
										<li><img class="" src="/static/index/images/6.png" /></li>
										<li><img class="" src="/static/index/images/7.png" /></li>
										<li><img class="" src="/static/index/images/8.png" /></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<!-- Controls -->
				<a class="control-left" href="#sponsor" role="button" data-slide="prev"><i class="fa fa-angle-left"></i></a>
				<a class="control-right" href="#sponsor" role="button" data-slide="next"><i class="fa fa-angle-right"></i></a>
				</div>			
			</div>
		</section>	
{/block}
